<!DOCTYPE html>
<html lang = 'en'>
<head>
    <title>COMP-SCI 5542 (SP17) - Tutorial 11 Assignment - Question 2 - Dayu Wang (45)</title>
    <script type = 'text/javascript' src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js'></script>
    <script type = 'text/javascript' src = 'https://rawgit.com/dwk8923/Miscellaneous_2/master/vv/angularJS_min.js'></script>
    <link rel = 'stylesheet' type = 'text/css' href = 'https://rawgit.com/dwk8923/Miscellaneous_2/master/vv/style.css'>
</head>
<body>
    <p class = 'center_text'>COMP-SCI 5542 (SP17) - Big Data Analytics and Applications</p>
    <p class = 'center_large_text'><u>Tutorial 11 Assignment - Question 2</u></p>
    <p class = 'center_text'><b><i>Dayu Wang</i> (45)</b></p>
    <p><br></p>
    <p class = 'center_large_text'><b><u>Web-Based Question-Answering System for Emoji Impressions</u></b></p>
    <p><br></p>
    <p class = 'left_text'>Please give the URL of the input image (<span class = 'required'>JPG Image ONLY</span>).</p>
    <p class = 'left_text'><input id = 'url' type = 'text' placeholder = 'Image URL'></p>
    <p><br></p>
    <p class = 'left_text'>Please select a question type (<span class = 'required'>Default set to be <b>emotion detection</b></span>).</p>
    <div>
      <p class = 'left_text'><input name = 'radio' type = 'radio' checked>&nbsp;What is the emotion related to the emoji?</p>
      <p class = 'left_text'><input name = 'radio' type = 'radio'>&nbsp;Give me a Tweet for the emoji (<span class = 'required'>Being Developed</span>).</p>
    </div>
    <p><br></p>
    <button id = 's'>Submit</button>
    <p id = 'res'></p>
</body>
</html>